-content_for(:title) do
  Listing Rooms / Libraries

-if @link_to_all
  %p
    Listing rooms where items belonging to your labs can be found. As administrator, you can also
    = link_to "list all locations", adm_locations_path
    \.
- if @link_to_my
  %p
    Listing all rooms. You can also
    = link_to "list only your rooms", adm_locations_path(:my => true)
    (rooms containing items that belong to your labs)

%table.table.sortable.table-bordered
  %thead
    %hr
      %th Id
      %th Name
      %th No. Items
      %th No. Shelves
  %tbody
    - @locations.each do |location|
      %tr
        %td= location.id
        %td= location.name
        %td= location.items.count
        %td{:id => "shc_#{location.id}"}= location.shelves.count
        %td
          = link_to 'Show', [:adm, location]
          |
          = link_to 'Edit', edit_adm_location_path(location)
          - if can? :destroy, location
            |
            = link_to 'Destroy', [:adm, location], method: :delete, data: { confirm: 'Are you sure?' }
          |
          = link_to "Add a Shelf", [:adm, location, Shelf.new], method: :post, remote: true

- if current_admin.admin? && !@link_to_all
  = link_to 'New Location', new_adm_location_path
