-content_for(:title) do
  =@location.name
  %small
    %br
    Room with #{@shelves.count} shelves and #{@items.count} items


%h3 Shelves
=render partial: "adm/shelves/shelves"

%h3 Items
= render :partial => "items/items"

= link_to 'Edit', edit_adm_location_path(@location)
\|
= link_to 'Back', adm_locations_path
