%tr{:id => "shelf_#{shelf.id}"}
  %td= shelf.id
  %td= shelf.location.name
  %td= shelf.seqno
  %td= shelf.items.count
  %td
    - if inventory_session
      = link_to "Inventory", [:adm, inventory_session, shelf]
      |
    = link_to 'Show', shelf
    - if can? :destroy, shelf
      |
      = link_to 'Destroy', [:adm, shelf], method: :delete, :remote => true
