-content_for(:title) do
  =@label_layout.name

%p=@label_layout.description

.well
  .row
    .span5
      %dl.dl-horizontal
        %dt page:
        %dd
          =@label_layout.page
          ="(#{@label_layout.pw}x#{@label_layout.ph} mm)"
        %dt margins (t,r,b,l):
        %dd
          =@label_layout.mt
          =@label_layout.mr
          =@label_layout.mb
          =@label_layout.ml
    .span5
      %dl.dl-horizontal
        %dt grid (c x r):
        %dd="#{@label_layout.nc} x #{@label_layout.nr}"
        %dt spacing (h v):
        %dd
          =@label_layout.hs
          =@label_layout.vs
        %dt label (wxh):
        %dd
          ="#{@label_layout.label_w_mm.to_i}x#{@label_layout.label_h_mm.to_i}"
        %dt padding (h v):
        %dd
          = "#{@label_layout.hp} #{@label_layout.vp}"
        %dt box:
        %dd="#{@label_layout.box_w_mm.to_i}x#{@label_layout.box_h_mm.to_i}"
-#
  TODO: add an svg preview built from actual measures
  using  or http://raphaeljs.com or http://snapsvg.io

= link_to 'all', adm_label_layouts_path
= link_to 'edit', edit_adm_label_layout_path(@label_layout)
