= simple_form_for([:adm, @inventory_session]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :input_html=>{:class=>"span5"}
    = f.input :notes, :input_html=>{:class=>"span12"}

  .form-actions
    = f.button :submit
