%tr{:id => "is_#{inventory_session.id}"}
  %td= inventory_session.id
  %td= inventory_session.name
  %td= inventory_session.admin.name
  %td= inventory_session.created_at.to_date
  %td= inventory_session.total_count
  %td #{inventory_session.progress} %
  %td #{inventory_session.move_committable_count} + #{inventory_session.move_committed_count}
  %td #{inventory_session.missing_committable_count} + #{inventory_session.missing_committed_count}
  %td
    = link_to 'Show', [:adm, inventory_session]
    |
    = link_to 'Edit', edit_adm_inventory_session_path(inventory_session)
    |
    = link_to 'Destroy', [:adm, inventory_session], method: :delete
