-content_for(:title) do
  =@inventory_session.name
  %br
  %small inventory session

#instructions
  %p
    Scan the barcode of one of the shelfs to check the inventory.

.row
  .span4
    %h4 Details
    %dl.dl-horizontal
      %dt owner:
      %dd=@inventory_session.admin.name
      %dt created:
      %dd=@inventory_session.created_at.to_date
  .span4
    %h4 Counts
    %dl.dl-horizontal
      %dt total:
      %dd #{@inventory_session.total_count} items
      %dt unchecked:
      %dd #{@inventory_session.unchecked_count} items
      %dt progress:
      %dd
        #{@inventory_session.progress} %
        %div{class: "progress progress-striped"}
          %div{class: "bar", style: "width: #{@progress}%"}
  .span4
    %h4 Checked Counts
    %dl.dl-horizontal
      %dt total:
      %dd #{@inventory_session.checked_count} items
      %dt confirmed:
      %dd #{@inventory_session.confirmed_count} items
      %dt moved:
      %dd #{@inventory_session.moved_count} items
      %dt imported:
      %dd #{@inventory_session.imported_count} items

- if @inventory_session.progress.to_i > 85
  %h4 Commit
  - if @inventory_session.move_committable_count > 0
    %p
      There are #{@inventory_session.move_committable_count} checked items that changed shelf.
      = link_to "Commit", adm_inventory_session_commit_moves_path(@inventory_session), data: { confirm: 'Are you sure?' }
      the changes to the item database.
  - if @inventory_session.missing_committable_count > 0
    %p
      There are #{@inventory_session.missing_committable_count} items still missing. If you are
      sure that there are no more items to scan, then you might want to
      = link_to "commit", adm_inventory_session_commit_missings_path(@inventory_session), data: { confirm: 'Caution: missing items will be kept in the database but will not be listed in searches.'}
      this inventory session.


%h3 Notes:
.well= render_markdown(@inventory_session.notes)

= link_to 'Edit', edit_adm_inventory_session_path(@inventory_session)
\|
= link_to 'Back to inventory sessions', adm_inventory_sessions_path
