-content_for(:title) do
  =@admin.name
  %small
    \-
    =@admin.role

%p
  =link_to "edit", edit_adm_admin_path(@admin)
  |
  =link_to "send an e-mail",  "mailto:#{@admin.email}"

- if @admin.labs.count == 0
  %p #{@admin.name} is managing no labs.
- else
  %h3 Managed Labs
  %table.table
    %thead
      %hr
        %th Id
        %th Nick
        %th Name
        %th.right No. Users
        %th.right No. Items
    %tbody
      - @admin.labs.each do |lab|
        %tr
          %td= lab.id
          %td= lab.nick
          %td= lab.name
          %td.right= lab.users.count
          %td.right= lab.items.count
