-content_for(:title) do
  Merging books with ISBN
  =@degisbn.isbn

%p
  Check the books that will be merged and fill the form below with the final data.
  You can click on data on the entries to fill the form automatically.

#merger{:data=>{"no-turbolink"=>true}}
  .right
    =link_to "check all", "#", :id=>"checkall"
    \|
    =link_to "uncheck all", "#", :id=>"uncheckall"

  = simple_form_for([:adm, @degisbn]) do |ff|
    %ul.mergebooklist.unstyled
      -for i in (0...@books.count).step(2)
        .row
          .span6
            =render :partial=>"mergebook", :locals => {:b => @books[i]}
          - if @books[i+1]
            .span6
              =render :partial=>"mergebook", :locals => {:b => @books[i+1]}
    -#%input{:name=>"deg_isbn[mergeables][]", :type=>"hidden"}
    .form-actions
      = ff.button :submit, "Save"
    = simple_fields_for @book do |f|
      .form-inputs{:id => "mergeform"}
        = f.input :isbn, :as => :hidden, :value=>@degisbn.isbn
        = f.input :author, :input_html=>{:class => "span10"}
        = f.input :title, :input_html=>{:class => "span10"}
        = f.input :editor, :input_html=>{:class => "span10"}
        .row
          .span1= f.input :volume, :input_html=>{:min => 1, :max => 10, :class=>"span1"}
          .span2= f.input :pubyear, :input_html=>{:min => 1900, :max => 2100, :class=>"span1"}
          .span4= f.input :edition, :input_html=>{:class=>"span4"}

        .row
          .span3= f.input :collation
          .span2= f.input :call1, :input_html=>{:class=>"span2"}
          .span2= f.input :call2, :input_html=>{:class=>"span2"}
          .span2= f.input :call3, :input_html=>{:class=>"span2"}
          .span2= f.input :call4, :input_html=>{:class=>"span2"}

        .row
          .span4= f.input :collection, :input_html=>{:class=>"span4"}
          -# .span8= f.input :publisher_name, :url => autocomplete_publisher_name_adm_books_path, :as => :autocomplete, :input_html=>{:class=>"span4"}
          .span8= f.input :publisher_name

        .tabbable
          %ul.nav.nav-tabs
            %li
              %a{:href=>"#abstab", "data-toggle" => "tab"} Abstract
            %li
              %a{:href=>"#idxtab", "data-toggle" => "tab"} Index
            %li
              %a{:href=>"#toctab", "data-toggle" => "tab"} TOC
            %li.active
              %a{:href=>"#nottab", "data-toggle" => "tab"} Notes
        .tab-content
          .tab-pane.active{:id=>"abstab"}
            =f.input :abstract, :label=>false, :as => :text, :input_html=>{:class=>"span12"}
          .tab-pane{:id=>"idxtab"}
            =f.input :idx, :label=>false, :as => :text, :input_html=>{:class=>"span12"}
          .tab-pane{:id=>"toctab"}
            =f.input :toc, :label=>false, :as => :text, :input_html=>{:class=>"span12"}
          .tab-pane{:id=>"nottab"}
            =f.input :notes, :label=>false, :as => :text, :input_html=>{:class=>"span12"}
