= simple_form_for(@book) do |f|
  = f.error_notification

  .form-inputs
    - if @isbn_step
      = hidden_field_tag 'isbn_step', true
      = f.input :isbn
    - else
      = f.input :isbn, :as => :hidden
      = f.input :author, :input_html=>{:class => "span10"}
      = f.input :title, :input_html=>{:class => "span10"}
      = f.input :subtitle , :input_html=>{:class => "span10"}
      = f.input :editor, :input_html=>{:class => "span10"}
      .row
        .span1= f.input :volume, :input_html=>{:min => 1, :max => 10, :class=>"span1"}
        .span2= f.input :pubyear, :input_html=>{:min => 1900, :max => 2100, :class=>"span1"}
        .span4= f.input :edition, :input_html=>{:class=>"span4"}

      .row
        .span3= f.input :collation
        .span2= f.input :call1, :input_html=>{:class=>"span2"}
        .span2= f.input :call2, :input_html=>{:class=>"span2"}
        .span2= f.input :call3, :input_html=>{:class=>"span2"}
        .span2= f.input :call4, :input_html=>{:class=>"span2"}

      .row
        .span5= f.input :collection, :input_html=>{:class=>"span5"}
        .span5= f.input :publisher_name, :url => autocomplete_publisher_name_books_path, :as => :autocomplete, :input_html=>{:class=>"span5"}

      .tabbable
        %ul.nav.nav-tabs
          %li
            %a{:href=>"#abstab", "data-toggle" => "tab"} Abstract
          %li
            %a{:href=>"#idxtab", "data-toggle" => "tab"} Index
          %li
            %a{:href=>"#toctab", "data-toggle" => "tab"} TOC
          %li.active
            %a{:href=>"#nottab", "data-toggle" => "tab"} Notes
      .tab-content
        .tab-pane.active{:id=>"abstab"}
          =f.input :abstract, :label=>false,:input_html=>{:class=>"span10"}
        .tab-pane{:id=>"idxtab"}
          =f.input :idx, :label=>false, :input_html=>{:class=>"span10"}
        .tab-pane{:id=>"toctab"}
          =f.input :toc, :label=>false, :input_html=>{:class=>"span10"}
        .tab-pane{:id=>"nottab"}
          =f.input :notes, :label=>false, :input_html=>{:class=>"span10"}
      -# if @book.new_record?
        = f.simple_fields_for :item do |item_form|
          .row
            .span4
              = item_form.association :lab, :collection => @labs, :label_method => lambda { |l| l.nick }, :prompt => "Select the owner"
            .span4
              = item_form.association :location, :collection => @locations, :prompt => "Select a room for this copy"
          .row
            .span4
              = item_form.input :currency, :collection=>@currencies, :selected => @currencies.first
            .span4
              = item_form.input :price
          = f.input :status, :collection=>["Library", "Mystery", "Never Received", "Out of Print", "Waiting for Delivery"], :selected=>"Library"


  .form-actions
    = f.button :submit
