= simple_form_for(@search) do |f|
  = f.error_notification

  .form-inputs
    = f.input :query, :label=>"Title, author or editor"
    = f.input :isbn
    = f.input :year_range
    = f.input :status
    = f.input :publisher_name
    = f.input :location_id
    = f.input :lab_id
    = f.input :borrower_id

  .form-actions
    = f.button :submit
