-content_for(:title) do
  Search Result
  %br
  %small #{@search.total_entries} items found

%h2 Your search
= render 'form'

- if @search.total_entries > 0
  - if admin_signed_in?
    %p
      Print labels:
      = link_to "3x8 label sheet with margins", search_path(@search)+".pdf?lf=3x8m"
      |
      = link_to "3x8 label sheet", search_path(@search)+".pdf?lf=3x8"
      |
      = link_to "dymo label printer", search_path(@search)+".pdf?lf=dymo"
  %h3
    = @search.items_oriented? ? "Items" : "Books"
  %p
    Found
    = @search.total_entries
    entries.
    - if @search.total_pages > 1
      Showing #{@search.size} entries (page #{@search.current_page} of #{@search.total_pages})
  - if @search.items_oriented?
    %ul.booklist.unstyled
      = render partial: "items/item", collection: @search.items
  -else
    %ul.booklist.unstyled
      =render partial: "books/book", collection: @search.books

  = will_paginate (@search), :renderer => BootstrapPagination::Rails
- else
  %p
    no results to show.
