%p#notice= notice

%p
  %b Title:
  = @search.title
%p
  %b Author:
  = @search.author
%p
  %b Editor:
  = @search.editor
%p
  %b Isbn:
  = @search.isbn
%p
  %b Year:
  = @search.year
%p
  %b Publisher name:
  = @search.publisher_name
%p
  %b Collection:
  = @search.collection
%p
  %b Location:
  = @search.location_id
%p
  %b Owner:
  = @search.owner_id
%p
  %b Status:
  = @search.status
%p
  %b User:
  = @search.user_id

= link_to 'Edit', edit_search_path(@search)
\|
= link_to 'Back', searches_path
