-content_for(:title) do
  Search Result
  %br
  %small #{@search.total_entries} items found

%h2 Your search
= render 'form'

- if @search.total_entries > 0
  %h3
    = @search.items_oriented? ? "Items" : "Books"
  %p
    Found
    = @search.total_entries
    entries.
    - if @search.total_pages > 1
      Showing #{@search.size} entries (page #{@search.current_page} of #{@search.total_pages})
  - if @search.items_oriented?
    %ul.booklist.unstyled
      = render partial: "items/item", collection: @search.items
  -else
    %ul.booklist.unstyled
      =render partial: "books/book", collection: @search.books

  = will_paginate (@search), :renderer => BootstrapPagination::Rails
- else
  %p
    no results to show.
