-content_for(:title) do
  Search Result
  %br
  %small #{@search.total_entries} items found

%h2 Your search
= render 'form'

- if @search.total_entries > 0
  - if admin_signed_in?
    .row
      .span5
        %h4 Labels
        %p=print_labels_links(search_path(@search))
      - if @search.items_oriented?
        .span7
          %h4 Inventorize
          - if current_admin.inventory_sessions.count > 0
            %p
              To add all the items of this search (search no. #{@search.id}) to an inventory session, please select your inventory session below and submit.
              Items that are already present in the inventory session will be considered as not yet checked (reset).
            %p
              Searches containing a lot of items
              %strong could take long time to load
              and your browser might look unresponsive for a while.
            = simple_form_for(:inventorize, url: adm_inventorize_search_url, :method => :post) do |f|
              = f.hidden_field "search_id", :value => @search.id
              .row
                .span3
                  = f.input "session_id", :collection => current_admin.inventory_sessions, :label_method => lambda { |s| s.name}, :prompt => "Select an inventory session", :label=>false
                .span2
                  = f.button :submit, "Inventorize"
          - else
            %p
              In order to setup an inventory session for the items in this search, please
              =link_to "create a new inventory session", new_adm_inventory_session_path
              first.
  %h3
    = @search.items_oriented? ? "Items" : "Books"
  %p
    Found #{@search.total_entries} entries.
    - if @search.total_pages > 1
      Showing #{@search.size} entries (page #{@search.current_page} of #{@search.total_pages})
  - if @search.items_oriented?
    %ul.booklist.unstyled
      = render partial: "items/item", collection: @search.items
  -else
    %ul.booklist.unstyled
      =render partial: "books/book", collection: @search.books

  = might_paginate @search
- else
  %p
    no results to show.
