= simple_form_for([:adm, @book, @item]) do |f|
  = f.error_notification

  .form-inputs
    .row
      .span4
        = f.association :lab, :collection => @labs, :label_method => lambda { |l| l.nick }, :prompt => "Select the owner"
      .span4
        = f.association :location, :collection => @locations
        -# = f.input :location_name, :placeholder => "Room/Library name", :label => "Room", :input_html => {:class => "typeahead", :data => {:collection => Location.names_list}}
      .span4
        - if @item.new_record? || @item.location_id.nil?
          = f.input :shelf_seqno, :placeholder => "123", :label => "Shelf Number"
        - else
          = f.association :shelf, :collection => @item.location.shelves, :label_method => lambda { |l| "Shelf #{l.seqno}" }, :prompt => "Select a Shelf within #{@item.location.name}"
    .row
      .span4
        = f.input :currency, :collection=>@currencies, :selected => @currencies.first
      .span4
        = f.input :price
    = f.input :status, :collection=>Item::STATUSES #, :selected=>"Library"

  .form-actions
    = f.button :submit
