.logo.container-fluid
  %ul.nav
    %li
      %a{:href => "#{root_path}", :class=>"brand"}
        Thot
        -#%i.icon-search
    -#%li=link_to "Thot ", root_path, :class=>"brand"
    -#%li=link_to('Full Search', new_search_path)
    %li=link_to("|", "#")
    -if admin_signed_in?
      %li.dropdown
        %a{:href=> '#', :class=>"dropdown-toggle", :data=>{:toggle=>"dropdown"}}
          Admin Menu
          %b.caret
        %ul.dropdown-menu
          %li=link_to 'New Book', new_adm_book_path if can? :create, Book
          %li=link_to 'New User', new_adm_user_path if can? :create, User
          %li.divider
          %li=link_to "Inventories", adm_inventory_sessions_path
          %li=link_to "Items", adm_items_path
          %li=link_to "Rooms", adm_locations_path
          %li=link_to "Users", adm_users_path
          %li.divider
          %li=link_to "Cleanup Books", adm_deg_isbns_path
          %li=link_to "Cleanup Publishers", new_adm_publisher_merger_path
          -if current_admin.role? :admin
            %li.divider
            %li= link_to('Labs', adm_labs_path)
            %li= link_to('Operators', adm_admins_path)
            %li= link_to('Publishers', adm_publishers_path)
      %li=link_to("Logout", destroy_admin_session_path, :method=>'delete')
    -else
      %li= link_to('Admin login', new_admin_session_path)
      -#%li= link_to('Sign up', new_admin_registration_path)
    %li=link_to("|", "#")
    %li
      %a{href: "#", class: "on_loan_popover", data: {html: "true", placement: "bottom", title: "Enter e-mail for user page", content: '<div><form action="/users" class="form-inline" method="get"><input id="email_login" class="input-large" name="email" type="text" placeholder="ciccio@epfl.ch"/></form></div>'}}
        %i.icon-user
        User
  =form_tag books_path, method: :get, :class=>"navbar-search pull-right" do
    =text_field_tag :search, params[:search], :class=>"search-query", :placeholder=> "Quick Search"

-#.logo.container-fluid
  %ul.nav
    %li
      =link_to "Thot", root_path, :class=>"brand"
    -if admin_signed_in?
      %li=link_to('Logout', destroy_admin_session_path, :method=>'delete')
      -#%li=link_to('Edit account', edit_admin_registration_path)
      -#%li=link_to("Me", current_admin)
      -if current_admin.role? :admin
        %li= link_to('Admin', cpanel_path)
    -else
      %li= link_to('Login', new_admin_session_path)
      -#%li= link_to('Sign up', new_admin_registration_path)
      %li= link_to('Full Search', new_search_path)
    %li
      =form_tag books_path, method: :get, :class=>"navbar-search" do
        =text_field_tag :search, params[:search], :class=>"search-query", :placeholder=> "Quick Search"
