.logo.container-fluid
  %ul.nav
    %li
      %a{:href => "#{root_path}", :class=>"brand"}
        Thot
        -#%i.icon-search
    -#%li=link_to "Thot ", root_path, :class=>"brand"
    -#%li=link_to('Full Search', new_search_path)
    -if admin_signed_in?
      %li.dropdown
        %a{:href=> '#', :class=>"dropdown-toggle", :data=>{:toggle=>"dropdown"}}
          Admin Menu
          %b.caret
        %ul.dropdown-menu
          %li=link_to 'New Book', new_adm_book_path if can? :create, Book
          %li=link_to 'New User', new_adm_user_path if can? :create, User
          %li.divider
          %li=link_to "Inventories", adm_inventory_sessions_path
          %li=link_to "Items", adm_items_path
          %li=link_to "Rooms", adm_locations_path
          %li=link_to "Users", adm_users_path
          %li.divider
          %li=link_to "Cleanup Books", adm_deg_isbns_path
          %li=link_to "Cleanup Publishers", new_adm_publisher_merger_path
          %li.divider
          %li=link_to "Label Sheets Layout", adm_label_layouts_path
          -if current_admin.role? :admin
            %li.divider
            %li= link_to('Labs', adm_labs_path)
            %li= link_to('Operators', adm_admins_path)
            %li= link_to('Publishers', adm_publishers_path)
      %li=link_to("Logout", destroy_admin_session_path, :method=>'delete')
      %li=link_to 'Help', page_path("operator_base")
    -else
      -#%li= link_to('Admin login', new_admin_session_path)
      -#%li= link_to('Sign up', new_admin_registration_path)
      %li.dropdown
        %a{:href=> '#', :class=>"dropdown-toggle", :data=>{:toggle=>"dropdown"}}
          %i.icon-cog
          Admin
        .dropdown-menu.dropdown-form
          %h4 Sign in
          = simple_form_for(Admin.new, :as => :admin, :url => session_path(:admin), :html => {:class => 'form-horizontal' }) do |f|
            .form-inputs
              = f.input :email, :required => false, :autofocus => true
              = f.input :password, :required => false
            .form-actions
              = f.button :submit, "Sign in"
          = link_to "Forgot your password?", new_password_path(:admin)
      %li.dropdown
        %a{:href=> '#', :class=>"dropdown-toggle", :data=>{:toggle=>"dropdown"}}
          %i.icon-user
          User
        .dropdown-menu.dropdown-form
          Enter e-mail to see your user page
          %form{action: "/users", class: "form-inline", method: "get"}
            %input{id: "email_login", class: "input-large", name: "email", type: "text", placeholder: "ciccio.pasticcio@epfl.ch"}
      %li=link_to 'Help', page_path("user_intro")
  =form_tag books_path, method: :get, :class=>"navbar-search pull-right" do
    =text_field_tag :search, params[:search], :class=>"search-query", :placeholder=> "Quick Search"
