!!! 5
%html
  %head
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1"}
    %title= content_for?(:title) ? "Thot: " + yield(:title).gsub(/<.*$/,"") : content_for?(:titlebar) ? "Thot: " + yield(:titlebar) : "Thot"
    %meta{:name=>"description", :content=>content_for?(:description) ? yield(:description) : "Thot"}

    -# TODO: fav and touch icons
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
      <link rel="shortcut icon" href="../assets/ico/favicon.png">

    = stylesheet_link_tag "application", :media => "all"
    = include_gon(:init => true)
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{:class=>"#{controller_name} #{action_name}"}
    #wrap
      %header.navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'
        #alerts
          .container
            = render 'layouts/messages'
      #main{:role => "main"}
        .container
          -#= link_to 'back', :back
          .content
            .row
              .span12
                - if content_for?(:title)
                  .page-header
                    %h1
                      = yield(:title)
                = yield
      #push
    #footer
      %div
        %p.credit
          Copyright (C) 2000-2013 &loz;
          Emre Telatar - Rüdiger Urbanke - Giovanni Cangiani &loz;
          =link_to "Administrator", "mailto:#{ENV['ADMIN_EMAIL']}"
          |
          =link_to "Source Code", "https://github.com/multiscan/thot", :target => :new
          |
          =link_to "Issues", "https://github.com/multiscan/thot/issues", :target => :new
    =render 'layouts/dialogs'
